@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('popup.css');
 
:root{

    --primary-dark: #00203FFF;
    --primary-light: #6495ED;
}

html {
    scroll-behavior: smooth;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.logo h2{
    font-size: 20px;

}

.logo p{
    font-size: 10px;
    opacity: 0.8;
}

.row{
    display: flex;
}

.nav{
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

}

.nav-btn, .hero-btn{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--primary-dark);
    color: #fff;
    padding: 0.4em 0.8em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover, .hero-btn:hover{
    opacity: 0.8;
}

.hero-btn{
    padding: 0.5em 1em;
}

.hero>*{
    flex-basis: 100%;
}

.hero{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 3em;
    overflow: hidden;
    margin-bottom: 4em;
}

.content h1{
    font-size: 38px;
    
}

.content p{
    font-size: 16px;
    opacity: 0.8;
    padding-bottom: 1em;
}



.hero-img{
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.hero-img img{
    max-height: 680px;
    z-index: 1;
    
}

.circle{
    position: absolute;
    top: -10px;
    background-color: var(--primary-light);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    opacity: 0.9;

}



.illu{
    position: absolute;
    width: 120px;
    opacity: 0.6;
    z-index: -1;

}

.illu#ball{
    right: 50%;
    
}
.illu#mail{
    right: 20px;
    top: 30px;
}

.illu#graph{
    bottom: 36px;
    right: 30px;
    transform: rotate(20deg);
}




/* SURVEY-FORM */

.feed{
    padding: 3em 0;
    background: var(--primary-light);
    justify-content: center;
    align-items: center;
}


.box{
    background-color: #fff;

    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 2.2em 3.2em;

    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.box h1{
    font-size: 30px;
    text-align: center;
    color: var(--primary-dark);
    font-weight: 600;
}

.box p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    opacity: 0.8;
}

.box form{
    margin: 30px auto 0 auto;
}

form .input-box{
    width: 100%;
    margin-bottom: 16px;
}


.input-box label{
    color: var(--primary-dark);
    font-size: 16px;
}




.input-box textarea,
.input-box input,
.input-box .select-box{
    position: relative;
    height: 40px;
    width: 100%;

    font-size: 16px;
    opacity: 0.8;
    
    border-radius: 5px;
    border: 1px solid #c4cae0;
    margin-top: 5px;
    padding: 0.5em 0.8em;

}

.input-box textarea{
    height: 100%;
}

form .column{
    display: flex;
    column-gap: 16px;
}

form .radio-box{
    margin-bottom: 15px;
}

.radio-box .radio-header{
    margin-bottom: 8px;
    color: var(--primary-dark);
    font-size: 16px;
}

.radio-box .radio-option,
.radio-box .option{
   display: flex;
   align-items: center;
   column-gap: 50px;
}

.radio-box .option{
    column-gap: 5px;
}

.option label,
.option input{
    cursor: pointer;
}

.option input{
    accent-color: var(--primary-dark);
}

.option label{
    opacity: 0.8;
}

.input-box .select-box select{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    font-size: 16px;
    opacity: 0.8;
    font-family: 'Poppins' , sans-serif;
    
}

.input-box .select-box select,
.input-box .select-box option{
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


textarea{
    resize: none;
}

input::placeholder,
textarea{
    font-family: 'Poppins' , sans-serif;
}

.form-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-btn button{
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;

    background-color: var(--primary-dark);
    color: #fff;

    padding: 0.5em 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
   
}

.form-btn button:hover{
   opacity: 0.8;
}  



/* VALIDATION */

.input-box.error input{
    border-color: red;
}

.input-box .error{
    color: red;
    font-size: 14px;
    opacity: 0.8;
}


/* FOOTER */

footer{
    height: auto;
    width: 100vw;
    padding-top: 40px;
    
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer-content h3{
    font-size: 30px;
    font-weight: 400;
    
    line-height: 40px;
}

.footer-content p{
    opacity: 0.8;
    font-size: 15px;

    margin: 8px auto;
}

.footer-content .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 30px 0;
    
}

.socials li{
    list-style: none;
    margin: 0 10px;
}

.socials a{
    color: var(--primary-dark);
    text-decoration: none;
}

.socials ion-icon{
    font-size: 20px;
    transition: scale 0.3s ease;
}

.socials a:hover ion-icon{
    scale: 1.1;
   
}

.footer-copyright{
    text-align: center;
    padding: 16px 0;
}

.footer-copyright p{
    text-transform: capitalize;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-copyright a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-dark);
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-copyright a:hover{
    color: var(--primary-light);
}



/* Responsive */

@media screen and (max-width: 950px) {
    .hero{
        padding: 0;
        flex-direction: column;
    }

    .hero-img{
        margin-top: 2em;
        width: 250px;
    }
    .illu#ball{
        
        left: 45%;
    }
    .illu#graph{
        top: 100px;
        left: 80px;
    }
    


}

@media screen and (max-width: 470px) {

    .hero-img{
        margin-top: 4em;
        width: 250px;
    }

    .hero-img img{
        width: 320px;
    }

    .circle{
        width: 300px;
        height: 300px;
    }

    .illu#graph{
        top: 140px;
        left: 20px;
    }
    .illu#mail{
       top: 120px;
       right: 0;
    }

    .feed{
        background-color: #fff;
        box-shadow: 0px ;
    }

    form .column{
        flex-wrap: wrap;
    }

    .radio-box .radio-option,
    .radio-box .radio{
        flex-wrap: wrap;
        row-gap: 8px;
    }
}



 
